@use '../../styles/variables.scss' as *;

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $white;
  background-color: $primary-color;
  padding: 15px 20px; // Ajuste de padding

  img {
    width: 100px;
  }

  .menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    color: $white;
    cursor: pointer;
    padding: 8px; // Adicionado padding para melhor usabilidade
  }

  nav {
    display: flex;
    gap: 20px;

    a {
      font-size: 18px;
      color: $white;
      text-decoration: none;

      &:hover {
        color: $primary-light;
      }
    }

    &.open {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 60px; // Ajustado para melhor adaptação
      left: 0;
      width: 100%;
      background-color: $primary-color;
      padding: 15px; // Ajuste de padding
      z-index: 100; // Ajuste de z-index
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); // Adicionado box-shadow
      transition: all 0.3s ease; // Adicionado transição
    }
  }
}

@media (max-width: 768px) {
  header {
    flex-direction: row;
    justify-content: space-between;

    nav {
      display: none;

      &.open {
        display: flex;
      }
    }

    .menu-toggle {
      display: block;
    }
  }
}

@media (max-width: 480px) {
  header {
    img {
      width: 80px;
    }
    nav a {
      font-size: 16px;
    }
  }
}

@media (max-width: 320px) {
  header img {
    width: 70px;
  }
}
